//main
@media (min-width: $m-pad) {
  #wrapper {
    .restaurantCalendar {
      opacity: 1;
      transform: translateX(0) scale(1);
      transition: 0.4s;
      &.active {
        opacity: 0;
        transform: translateX(350px) scale(0);
      }

      p {
        font-weight: 800;
        writing-mode: vertical-lr;

        i {
          color: #0089a7;
        }
      }
    }
    .courses-bg {
      top: 500px;
      @include fullImg(100%, 980px);
      z-index: -10;
    }
    .courses {
      span {
        display: inline-block;
      }
      .dropdown-item.active,
      .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: $c-lightGrey;
      }
      .coursesTitle {
        border-left: 1px solid $c-grey;
        margin-bottom: 48px;

        span {
          color: $c-grey;
          letter-spacing: 2px;
        }

        img {
          margin-left: 30px;
          width: 35px;
          height: 100%;
        }

        .coursesName {
          line-height: 48px;
          color: $c-danger;
          font-weight: 500;
          border-left: 1px solid $c-grey;
        }

        .coursesIntro {
          line-height: 48px;
          //border-left: 1px solid $c-grey;
          border-right: 1px solid $c-grey;
        }
      }

      .chooseTitle {
        font-size: 20px;
      }

      .chooseCard {
        .chooseLink {
          &:hover .mainChooseCard {
            opacity: 0.6;
          }
          .chooseSubtitle {
            font-size: 25px;
          }

          .mainChooseCard {
            transition: 0.3s;
            width: 100%;
            background: white;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);

            .chooseContent {
              margin-top: 20px;
              margin-bottom: 10px;
              font-size: 18px;
              line-height: 35px;
            }

            .chooseFigure {
              width: 100%;

              .chooseImage {
                @include fullImg(100%, 100%);
              }
            }
          }
        }
      }
      .datepicker {
        width: 200px;
        height: 38px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
        border-radius: .25rem;
        input {
          text-align: center;
          padding-top: 5px;
        }
        p{
          text-align: center;
          padding-left: 10px;
          margin: 0;
        }
        .courseCalendar{
          box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
          top: 60px;
          left: -60px;
          max-height: 400px;
          opacity: 1;
          transition: all .3s ease-in;
          z-index: 100;
          &.active{
            overflow: hidden;
            max-height: 0;
            opacity: 0;
          }

        }
      }
      .coursesList {
        .coursesListCard {
          transition: 0.5s;
          position: relative;
          margin-bottom: 20px;
          width: 100%;
          background: white;
          box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
          &:hover {
            box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
          }
          .listCardFigure {
            width: 100%;
            .listCardImage {
              @include fullImg(100%, 200px);
            }
          }
          .listCardContent {
            margin-top: 10px;
            margin-bottom: 5px;
            h5 {
              line-height: 35px;
            }

            p {
              font-size: 16px;
            }
            h6 {
              font-size: 18px;
              color: $c-danger;
            }
            .coursesListHeart,
            .coursesListCart {
              cursor: pointer;
              color: $c-lightGrey;
              transition: 0.3s;
              &.active {
                color: $c-danger;
              }
            }
          }
        }
      }
      .coursesContent {
        img {
          cursor: pointer;
        }
        .contentData {
          .dataLine {
            width: 100%;
            height: 1px;
            background-color: $c-grey;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .dataIcon {
            transition: 0.3s;
            cursor: pointer;
            color: $c-lightGrey;
            &.active {
              color: $c-danger;
            }
          }
          .dataButton {
            border: 1px solid $c-grey;
            color: $c-danger;
            cursor: pointer;
            margin: auto;
            margin-top: 20px;
            padding: 20px;
            transition: 0.4s;
            width: 70%;
            &:hover {
              box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
            }
          }
        }
        .contentFigureMain {
          width: 100%;
          height: 320px;
          overflow: hidden;
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
          .contentImageMain {
            @include fullImg();
          }
        }
        .contentFigureSmall {
          width: 100%;
          height: 100px;
          overflow: hidden;
          img {
            @include fullImg(23%);
            margin-right: 2.6%;
          }
        }
        .contentFigureMap {
          width: 100%;
          height: 305px;
          overflow: hidden;
        }
        .contentCard {
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
          background: white;
          height: 500px;
          line-height: 40px;
          .courseNote {
            color: $c-danger;
          }
        }
        .price {
          color: $c-danger;
        }
      }
    }
    .dlLLLS {
      display: none;
    }
  }
}
@media (max-width: $m-pad) {
  #wrapper {
    .courses {
      .btn {
        color: $c-dark;
      }
      .dropdown-item.active,
      .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: $c-lightGrey;
      }
      .coursesTitle {
        border-left: 1px solid $c-grey;
        margin-bottom: 48px;

        span {
          color: $c-grey;
          letter-spacing: 2px;
        }

        img {
          margin-left: 30px;
          width: 35px;
          height: 100%;
        }

        .coursesName {
          line-height: 48px;
          color: $c-danger;
          font-weight: 500;
          border-left: 1px solid $c-grey;
        }

        .coursesIntro {
          line-height: 48px;
          //border-left: 1px solid $c-grey;
          border-right: 1px solid $c-grey;
        }
      }

      .chooseTitle {
        font-size: 20px;
      }

      .chooseCard {
        .chooseLink {
          &:hover .mainChooseCard {
            opacity: 0.6;
          }
          .chooseSubtitle {
            font-size: 25px;
          }

          .mainChooseCard {
            transition: 0.3s;
            width: 100%;
            background: white;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);

            .chooseContent {
              margin-top: 20px;
              margin-bottom: 10px;
              font-size: 18px;
              line-height: 35px;
            }

            .chooseFigure {
              width: 100%;

              .chooseImage {
                @include fullImg(100%, 100%);
              }
            }
          }
        }
      }
      .datepicker {
        margin-left: 25px;
        width: 200px;
        height: 38px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
        border-radius: .25rem;
        input {
          text-align: center;
          padding-top: 5px;
        }
        p{
          text-align: center;
          padding-left: 10px;
          margin: 0;
        }
        .courseCalendar{
          box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
          top: 60px;
          left: -60px;
          max-height: 400px;
          opacity: 1;
          transition: all .3s ease-in;
          z-index: 100;
          &.active{
            overflow: hidden;
            max-height: 0;
            opacity: 0;
          }

        }
      }
      .coursesList {
        .coursesListCard {
          transition: 0.5s;
          position: relative;
          margin-bottom: 20px;
          width: 100%;
          background: white;
          box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
          &:hover {
            box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
          }
          .listCardFigure {
            width: 100%;
            .listCardImage {
              @include fullImg(100%, 200px);
            }
          }
          .listCardContent {
            margin-top: 10px;
            margin-bottom: 5px;
            h5 {
              line-height: 35px;
            }

            p {
              font-size: 16px;
            }
            h6 {
              font-size: 18px;
              color: $c-danger;
            }
            .coursesListHeart,
            .coursesListCart {
              cursor: pointer;
              color: $c-lightGrey;
            }
          }
        }
      }
      .coursesContent {
        img {
          cursor: pointer;
        }
        .contentData {
          .dataLine {
            width: 100%;
            height: 1px;
            background-color: $c-grey;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .dataIcon {
            transition: 0.3s;
            cursor: pointer;
            color: $c-lightGrey;
            &.active {
              color: $c-danger;
            }
          }
          .dataButton {
            border: 1px solid $c-grey;
            color: $c-danger;
            cursor: pointer;
            margin: auto;
            margin-top: 20px;
            padding: 20px;
            transition: 0.4s;
            width: 100%;
            &:hover {
              box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
            }
          }
        }
        .contentFigureMain {
          width: 100%;
          height: 320px;
          overflow: hidden;
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
          .contentImageMain {
            @include fullImg();
          }
        }
        .contentFigureSmall {
          width: 100%;
          height: 100px;
          overflow: hidden;
          img {
            @include fullImg(23%);
            margin-right: 2.6%;
          }
        }
        .contentFigureMap {
          width: 100%;
          height: 305px;
          overflow: hidden;
        }
        .contentCard {
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
          background: white;
          height: 500px;
          line-height: 40px;
          .courseNote {
            color: $c-danger;
          }
        }
        .price {
          color: $c-danger;
        }
      }
    }
  }
}

//other size
@media (min-width: $m-pcs) {
  #wrapper {
  }
}

@media (max-width: $m-pcs) {
  #wrapper {
  }
}

@media (max-width: $m-phone) {
  #wrapper {
    .courses {
      .coursesTitle {
        border-left: 1px solid $c-grey;
        margin-bottom: 48px;

        span {
          color: $c-grey;
          letter-spacing: 2px;
        }

        img {
          margin-left: 30px;
          width: 35px;
          height: 100%;
        }

        .coursesName {
          line-height: 48px;
          color: $c-danger;
          font-weight: 500;
          border-left: 1px solid $c-grey;
        }

        .coursesIntro {
          line-height: 48px;
          //border-left: 1px solid $c-grey;
          border-right: 1px solid $c-grey;
        }
      }
    }
  }
}
//exception
//bg
@media (min-width: $m-pc) {
  #wrapper {
    .courses-bg {
      top: 500px;
      @include fullImg(100%, 670px);
      z-index: -10;
    }
  }
}
@media (max-width: 767px) {
  #wrapper {
    .courses-bg {
      top: 80px;
      @include fullImg(100%, 1000px);
      z-index: -10;
    }
  }
}
@media (max-width: 576px) {
  #wrapper {
    .courses-bg {
      top: 80px;
      @include fullImg(100%, 720px);
      z-index: -10;
    }
  }
}
//dropdownToggle
@media (min-width: 518px) {
  #wrapper {
    .courses {
      .dropdownToggle {
        width: 200px;
      }
    }
  }
}
@media (max-width: 518px) {
  #wrapper {
    .courses {
      .dropdownToggle {
        width: 85vw;
        .dropdown-menu {
          width: 800px;
        }
      }
      .datepicker {
        margin-top: 15px;
        margin-left: 15px;
        width: 85vw;
        .courseCalendar{
          box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
          top: 60px;
          left: 50%;
          transform: translateX(-50%);
          max-height: 400px;
          opacity: 1;
          transition: all .3s ease-in;
          z-index: 100;
          &.active{
            max-height: 0;
            opacity: 0;
          }

        }
        .ae {
          width: 100%;
        }
      }

    }
  }
}