.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .close-login-box {
    position: absolute; right: -25px; top: -25px; width: 50px; height: 50px; background: silver; border-radius: 25px; box-shadow: 2px 2px 5px 0px black; cursor: pointer;
  }
  .close-login-box:hover { background: red;}
  .close-login-box:before { position: absolute; content: ''; width: 30px; height: 10px; background: white; transform: rotate(45deg); top: 20px; left: 10px;}
  .close-login-box:after{ content: ''; position: absolute; width: 30px; height: 10px; background: white; transform: rotate(-45deg); top: 20px; left: 10px;}

  .header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      width: 21em;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .login-form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 15px;
          margin: 0;
        }
        input {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: lightblue;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:hover {
            // background-color: #ffffff;
            // box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 1em;
  }
}
