.coupon {
    background: url(../images/mycartimages/background.png);
    width: 100%;
    min-height: 800px;
    background-size: contain;
    .coupon-head-svg {
        width: 100%;
        min-height: 50px;
        margin-top: 100px;
    }
    
    .coupon-head-p1 {
        font-weight: bold;
        color: #AC1515;
        margin: 30px 0 30px 20px;
        font-size: 25px;
    }
    
    .coupon-head-p3 {
        font-weight: bold;
    }
    
    .coupon-head-p2 {
        display: flex;
        justify-content: space-between;
    }
    
    .coupon-head-p4 {
        display: flex;
        font-weight: bold;
    }
    
    .coupon-head-p5 {
        color: #AC1515;
    }
    
    .coupon-head-list {
        display: flex;
        justify-content: space-between;
    }
    
    .coupon-head-list-red {
        background: white;
        width: 23%;
        height: 100px;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
    
    }
    
    .coupon-head-list-red-p {
        color: #C87373;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-bottom: -20px;
    }
    
    .coupon-head-list-blue {
        background: white;
        width: 23%;
        height: 100px;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
    
    }
    
    .coupon-head-list-blue-p {
        color: #495F90;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-bottom: -20px;
    }
    
    .coupon-head-list-bottom-p {
        text-align: right;
        margin-top: 15px;
        font-weight: bold;
        color: #AC1515;
    }
    /*以上為HEAD*/
    .coupon-bottom{
        margin-top: 100px;
    }
    .coupon-bottom-p{
        text-align: right;
    }
    .coupon-next-or-prev{
        margin-top: 50px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .prev{
        background:#AC1515 ;
        color: white;
       width: 140px;
       min-height: 40px;
       text-align: center;
       line-height: 50px;
       font-weight: bold;
       margin-right: 80px;
       cursor: pointer;
    }
    .next{
        background:#0089A7 ;
        color: white;
       width: 140px;
       min-height: 40px;
       text-align: center;
       line-height: 50px;
       font-weight: bold;
     
       cursor: pointer;
    }

    @media screen and (max-width:480px) { 
      .coupon-rwd-p{
          margin-top: -10px;
      }

      .coupon-head-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .coupon-head-list-red {
        background: white;
        width: 45%;
        height: 125px;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        margin: 10px 0 0 0;
    
      }
      .coupon-head-list-blue {
        background: white;
        width: 45%;
        height: 125px;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        margin: 10px 0 0 0;
    } 

    }   

}

